body {
  text-align: center;
  background-image: url('../img/connect.png');
  font: 16px/100% 'iABCRegular', Georgia, sans-serif;
}

.nlnet img {
  width: 175px;
}

a:visited, a {
  color: #2e2aff;
}

a:hover {
  color: #555;
}

.example-button {
  width: 200px;
  height: 25px;
}

.github-button {
  width: 200px;
  height: 25px;
}
