body {
  text-align: center;
  background-image: url('../img/connect.png');
  width: 500px;
  margin: 45px auto;
  font: 16px/140% sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin-top: 30px;
}

p.github {
  line-height: 32px;
}
p.github img {
  vertical-align: top;
}

a:visited, a {
  color: black;
}
a:hover {
  color: #555;
}