  <footer class="footer container-fluid">

    <div class="columns is-desktop">
      <div class="column credits">
        <p>
          <span>Developed and maintained by</span>
          <a target="_blank" href="https://silverbucket.net">Nick Jennings</a>
        </p>
      </div>

      <div class="column sponsored-by">
        <span>Sponsored by</span><br />
        <a target="_blank" href="http://nlnet.nl">
          <img src="/res/img/nlnet-logo.svg" alt="nlnet" />
        </a>
      </div>

      <div class="column extras">
        <a rel="alternate" type="application/rss+xml" title="RSS feed for sockethub.org" href="{{site.url}}/feed.xml">
            <span class="icon"><i class="is-size-4 fas fa-rss"></i></span>
        </a>
        <a rel="me" href="https://github.com/sockethub/sockethub">
            <span class="icon"><i class="is-size-4 fab fa-github"></i></span>
        </a>
        <a rel="me" href="https://twitter.com/sockethub">
            <span class="icon"><i class="is-size-4 fab fa-twitter"></i></span>
        </a>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
