<div class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item {{currPage current_page 'about'}}" href="/about">About</a>
        <a class="navbar-item {{currPage current_page 'news'}}" href="/news">News</a>
    </div>
</div>
