<h2>presentation</h2>
<p>Sockethub presentation at <strong>re:publica 2013</strong>! Wednesday, May 8th @ 13:00 on Stage 4</p>
<p></p>
<div class="video">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/KU4PZK48-dg" frameborder="0" allowfullscreen></iframe>
</div>