<nav class="site-header__nav" aria-label="Primary">
  <a href="/"             {{#ifEq current_page "home"        }}aria-current="page"{{/ifEq}}>Home</a>
  <a href="/get-started"  {{#ifEq current_page "get-started" }}aria-current="page"{{/ifEq}}>Get started</a>
  <a href="/how-it-works" {{#ifEq current_page "how-it-works"}}aria-current="page"{{/ifEq}}>How it works</a>
  <a href="/platforms"    {{#ifEq current_page "platforms"   }}aria-current="page"{{/ifEq}}>Platforms</a>
  <a href="/news"         {{#ifEq current_page "news"        }}aria-current="page"{{/ifEq}}>News</a>
  <a href="/about"        {{#ifEq current_page "about"       }}aria-current="page"{{/ifEq}}>About</a>
</nav>
