.navbar {
  padding: 1rem;
}
.navbar-item > img {
  max-height: 4.5rem;
}

.navbar-end {
  margin-right: 2rem;
}

.content p {
  text-indent: 1rem;
  margin-bottom: 1rem;
}

.active {
  color: #782114;
  text-decoration: underline;
}

.support {
  float: right;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}
.support > h2 {
  margin-top: 0;
}
.donation-list > .bitcoin {
  margin-bottom: 2rem;
}
.bitcoin-address, .tippin {
  text-decoration: underline;
  font-weight: 900;
}
.support .icon {
  color: #cd8105;
}
.news_brief {
  margin-top: 0;
  padding-top: 0;
}

pre {
  background-color: rgba(255,255,255, 0.1);
  border-right: none;
  border-top: none;
  border-bottom: none;
}

a {
  color: rgb(0, 136, 204);
}
a:hover {
  color: #555;
}

.hidden {
  display: none;
}

.icon {
  display: inline-block;
  width: 2rem;
}

h1 {
  font-family: sans-serif;
  float: right;
  font-weight: 900;
  color: rgba(0, 0, 0, .1);
  padding: 0 0 0 30px;
  margin-right: 30px;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  margin: 1rem;
  color: black;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: black;
}

.sister-logos {
  margin: 30px auto 30px auto;
  text-align: center;
}
.sister-logos img {
  margin: 0 30px 0 30px;
}

.server-setup h2 {
  margin-bottom: 15px;
}
.server-setup, .client-setup {
  margin-bottom: 30px;
}

.news .header {
  margin-top: 3px;
}
.news {
  list-style-type: none;
  padding-left: 10px;
}
.news .date {
  color: #ff9c1f;
  font-weight: 900;
  font-size: .8em;
  margin-right: 1rem;
  margin-top: 0.3rem;
  float: left;
  font-family: monospace;
}
.news .entry-content {
  text-indent: 10px;
}
.news .entry-content p {
  text-indent: 10px;
  margin-bottom: 2px;
}
.news-entry {
  margin-bottom: 2rem;
}

.footer, .push {
  min-height: 7em;
}
.footer {
  margin: 0 15px 0 15px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}
.nlnet img {
  margin-top: 30px;
  width: 175px;
}
.sponsored-by {
  padding-top: 10px;
  text-align: center;
}
.sponsored-by span {
  margin-left: 20px;
}
.credits {
  padding-top: 15px;
}
.extras {
  padding-top: 30px;
  text-align: center;
}
.extras a {
  margin: 0 5px 0 5px;
}

.video {
  margin-top: 2rem;
  text-align: center;
}
