{{>header}}

<section class="container">
  <article class="prose" style="margin-inline: auto; padding-block: var(--space-2xl);">
    {{{contents}}}
  </article>

  <div class="sister-logos">
    <a href="https://unhosted.org" target="_blank" rel="noopener">
      <img src="/res/img/unhosted_logo.png" alt="Unhosted">
    </a>
    <a href="https://remotestorage.io" target="_blank" rel="noopener">
      <img src="/res/img/remotestorage_text_logo.png" alt="remoteStorage">
    </a>
    <a href="https://nobackend.org" target="_blank" rel="noopener">
      <img src="/res/img/nobackend_logo.png" alt="noBackend">
    </a>
  </div>
</section>

{{>footer}}
