{{>header}}
<section class="section about">
    <div class="container content">
        {{{contents}}}
    </div>
    <div class="container sister-logos">
        <a target="_blank" href="http://unhosted.org"><img src="/res/img/unhosted_logo.png" /></a>
        <a target="_blank" href="http://remotestorage.io"><img src="/res/img/remotestorage_text_logo.png" /></a>
        <a target="_blank" href="http://nobackend.org"><img src="/res/img/nobackend_logo.png" /></a>
    </div>
    <div class="container presentation content">
        <h2>Presentation</h2>
        <p>Sockethub presentation at <strong>re:publica 2013</strong>! Wednesday, May 8th 2014 @ 13:00 on Stage 4</p>
        <div class="video">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/KU4PZK48-dg" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
{{>footer}}
