{{>header}}

<section class="container" style="padding-block: var(--space-2xl);">
  <article class="prose" style="margin-inline: auto;">
    <h1>{{title}}</h1>
    {{{contents}}}
  </article>
</section>

{{>footer}}
