{{>header}}
<h1>{{title}}</h1>
<div class="client-setup">

  <p>To use sockethub from within the browser, you'll be establishing a websocket client and sending and receiving simple
     JSON objects to the client.</p>

  <p>First, include the <pre><code>sockethub-client.js</code></pre> script, and then the following sequence connects to Sockethub, sets your Twitter credentials, and fetches your tweets:</p>

  <p>This example assumes you're running Sockethub on <pre><code>localhost:10550</code></pre></p>

  <div class="example">
    <script src="https://gist.github.com/silverbucket/5976366.js"></script>
  </div>

  <p>The 4 values you have to put in for the Twitter credentials can be obtained by <a href="https://dev.twitter.com/apps/new">registering a Twitter app</a> and then also generating an access token.</p>

  <p>Now watch the console. You should see a series of "messages" events after a few "completed" events, logged to the console.</p>

  <p>For more examples, you can browse to <pre><code>http://localhost:10550/examples</code></pre> and for more documentation see the <a href="https://github.com/sockethub/sockethub/wiki">Sockethub Wiki</a>.
</div>
<p class="github"><a href="http://github.com/sockethub/sockethub"><img src="/res/img/github-icon.png" /></a> <a href="http://github.com/sockethub/sockethub">code hosted on github</a></p>
{{>footer}}